.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.html
*.pdf
*.jpg
*.jpeg
*.png
params.py
*.pyc
*.docx
bold_key.R
*.RDS
*.kml
*.qgz
data/processed_data/*.csv
data/earthcape_app_query/*.csv
data/processed_data/*/*.csv
data/processed_data/*/*.tsv
data/raw_data/*/*.xls
data/raw_data/*/*.xlsx
*.fas
data/raw_data/*.txt
data/raw_data/BOLD_Public.11-Jul-2025.tsv
results/*.csv
results/*/*.csv
results/*/*.xlsx
*.zip
